.App-Container {
  text-align: left;
}

.App-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: #1652f0;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header span {
  text-decoration: none;
  display: block;
  padding: 1em;
}

.App-header span:hover {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  background-color: #00c9ff;
}
