.Contact-Row {
  display: grid;
  grid-template-columns: 18% 18% 20% 14% 20% 10%;
  border-bottom: 1px solid #909090;
}

.Contact-Row div {
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.edit-button {
  color: #ffffff;
  background-color: #05b169;
  border: 1px solid #05b169;
  font-size: 14px;
  width: auto;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 4px;
}

.delete-button {
  color: #ffffff;
  background-color: #df5f67;
  border: 1px solid #df5f67;
  font-size: 14px;
  width: auto;
  border-radius: 4px;
  padding: 12px 16px;
}
