.Contact-Row {
  display: grid;
  grid-template-columns: 20% 20% 20% 10% 20% 10%;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  border-bottom: 1px solid #282c34;
}

.Contact-Row div {
  margin: 10px;
}
